.App {
  font-family: sans-serif;
  text-align: center;
}
.card {
  border: solid;
  margin: 20%;
}
img {
  width: 100%;
  height: 40vh;

  object-fit: cover;
}
button {
  background-color: rgb(126, 156, 97);
  width: 20%;
}
